In [ ]:
!pip install catboost

Collecting catboost
  Downloading catboost-1.0.4-cp37-none-manylinux1_x86_64.whl (76.1 MB)
     |████████████████████████████████| 76.1 MB 1.3 MB/s
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.19.5)
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.3.5)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from catboost) (5.5.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (3.0.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (1.3.2)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly->catboost) (8.0.1)
Installing collected packages: catboost
Successfully installed catboost-1.0.4

In [ ]:
import pandas as pd
import random
import csv
import numpy as np
from numpy import mean
import graphviz

In [ ]:
from sklearn.metrics import average_precision_score
from sklearn.metrics import precision_recall_curve
from scipy import interp
from sklearn.model_selection import train_test_split
from xgboost import XGBClassifier
from sklearn.ensemble import GradientBoostingClassifier
from catboost import CatBoostClassifier
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedKFold
from sklearn.metrics import classification_report
from sklearn import metrics
from scipy.stats import sem

# **READ DATA**

In [ ]:
dataset = pd.read_excel("/content/final_data_asli.xlsx")
datasetGB = dataset.copy()
datasetGB1 = dataset.copy()
datasetGB2 = dataset.copy()
datasetGB3 = dataset.copy()
datasetXGB = dataset.copy()
datasetXGB1 = dataset.copy()
datasetXGB2 = dataset.copy()
datasetXGB3 = dataset.copy()
datasetCGB = dataset.copy()
datasetCGB1 = dataset.copy()
datasetCGB2 = dataset.copy()
datasetCGB3 = dataset.copy()

In [ ]:
dataset.head()

   tcp7  tcp9  tcp13  tcp21  tcp22  ...  udp49194  udp49200  udp49201  udp65024  nat
0     1     1      1      1      1  ...         2         2         2         2    0
1     1     1      1      1      1  ...         2         2         2         2    0
2     1     1      1      1      1  ...         2         2         2         2    0
3     1     1      1      1      1  ...         1         1         1         1    0
4     2     2      2      2      2  ...         2         2         2         2    1

[5 rows x 201 columns]

# **GRADIENT BOOSTING**

In [ ]:
labelGB = datasetGB['nat'].tolist()
labelGB1 = datasetGB1['nat'].tolist()
labelGB2 = datasetGB2['nat'].tolist()
labelGB3 = datasetGB3['nat'].tolist()
datasetGB = datasetGB.drop(columns=['nat'])
datasetGB1 = datasetGB1.drop(columns=['nat'])
datasetGB2 = datasetGB2.drop(columns=['nat'])
datasetGB3 = datasetGB3.drop(columns=['nat'])

## **F1**

In [ ]:
def evaluate_model(X, y, repeats):
	# prepare the cross-validation procedure
	cv = RepeatedKFold(n_splits=15, n_repeats=repeats, random_state=1)
	# create model
	model = GradientBoostingClassifier()
	# evaluate model
	scores = cross_val_score(model, datasetGB, labelGB, scoring='f1_weighted', cv=cv, n_jobs=-1)
	return scores

In [ ]:
# configurations to test
repeats = range(1,16)
results = list()
for r in repeats:
	# evaluate using a given number of repeats
	scores = evaluate_model(datasetGB, labelGB, r)
	# summarize
	print('>%d Nilai Akurasi Mean = %.5f dengan Standard Error = %.3f' % (r, mean(scores), sem(scores)))
	# store
	results.append(scores)

>1 Nilai Akurasi Mean = 0.93818 dengan Standard Error = 0.013
>2 Nilai Akurasi Mean = 0.94258 dengan Standard Error = 0.009
>3 Nilai Akurasi Mean = 0.94342 dengan Standard Error = 0.006
>4 Nilai Akurasi Mean = 0.94209 dengan Standard Error = 0.006
>5 Nilai Akurasi Mean = 0.94129 dengan Standard Error = 0.005
>6 Nilai Akurasi Mean = 0.94193 dengan Standard Error = 0.004
>7 Nilai Akurasi Mean = 0.94165 dengan Standard Error = 0.004
>8 Nilai Akurasi Mean = 0.94188 dengan Standard Error = 0.003
>9 Nilai Akurasi Mean = 0.94228 dengan Standard Error = 0.003
>10 Nilai Akurasi Mean = 0.94308 dengan Standard Error = 0.003
>11 Nilai Akurasi Mean = 0.94416 dengan Standard Error = 0.003
>12 Nilai Akurasi Mean = 0.94369 dengan Standard Error = 0.003
>13 Nilai Akurasi Mean = 0.94407 dengan Standard Error = 0.003
>14 Nilai Akurasi Mean = 0.94376 dengan Standard Error = 0.003
>15 Nilai Akurasi Mean = 0.94364 dengan Standard Error = 0.002

## **AKURASI**

In [ ]:
def evaluate_model(X, y, repeats):
	# prepare the cross-validation procedure
	cv = RepeatedKFold(n_splits=15, n_repeats=repeats, random_state=1)
	# create model
	model = GradientBoostingClassifier()
	# evaluate model
	scores = cross_val_score(model, datasetGB1, labelGB1, scoring='accuracy', cv=cv, n_jobs=-1)
	return scores

In [ ]:
# configurations to test
repeats = range(1,16)
results = list()
for r in repeats:
	# evaluate using a given number of repeats
	scores = evaluate_model(datasetGB1, labelGB1, r)
	# summarize
	print('>%d Nilai Akurasi Mean = %.5f dengan Standard Error = %.3f' % (r, mean(scores), sem(scores)))
	# store
	results.append(scores)

>1 Nilai Akurasi Mean = 0.94007 dengan Standard Error = 0.013
>2 Nilai Akurasi Mean = 0.94094 dengan Standard Error = 0.009
>3 Nilai Akurasi Mean = 0.94290 dengan Standard Error = 0.006
>4 Nilai Akurasi Mean = 0.94348 dengan Standard Error = 0.005
>5 Nilai Akurasi Mean = 0.94133 dengan Standard Error = 0.005
>6 Nilai Akurasi Mean = 0.94257 dengan Standard Error = 0.004
>7 Nilai Akurasi Mean = 0.94169 dengan Standard Error = 0.004
>8 Nilai Akurasi Mean = 0.94278 dengan Standard Error = 0.003
>9 Nilai Akurasi Mean = 0.94305 dengan Standard Error = 0.003
>10 Nilai Akurasi Mean = 0.94380 dengan Standard Error = 0.003
>11 Nilai Akurasi Mean = 0.94375 dengan Standard Error = 0.003
>12 Nilai Akurasi Mean = 0.94341 dengan Standard Error = 0.003
>13 Nilai Akurasi Mean = 0.94423 dengan Standard Error = 0.003
>14 Nilai Akurasi Mean = 0.94441 dengan Standard Error = 0.003
>15 Nilai Akurasi Mean = 0.94375 dengan Standard Error = 0.002

## **RECALL**

In [ ]:
def evaluate_model(X, y, repeats):
	# prepare the cross-validation procedure
	cv = RepeatedKFold(n_splits=15, n_repeats=repeats, random_state=1)
	# create model
	model = GradientBoostingClassifier()
	# evaluate model
	scores = cross_val_score(model, datasetGB2, labelGB2, scoring='recall_weighted', cv=cv, n_jobs=-1)
	return scores

In [ ]:
# configurations to test
repeats = range(1,16)
results = list()
for r in repeats:
	# evaluate using a given number of repeats
	scores = evaluate_model(datasetGB2, labelGB2, r)
	# summarize
	print('>%d Nilai Akurasi Mean = %.5f dengan Standard Error = %.3f' % (r, mean(scores), sem(scores)))
	# store
	results.append(scores)

>1 Nilai Akurasi Mean = 0.94358 dengan Standard Error = 0.011
>2 Nilai Akurasi Mean = 0.94358 dengan Standard Error = 0.008
>3 Nilai Akurasi Mean = 0.94465 dengan Standard Error = 0.006
>4 Nilai Akurasi Mean = 0.94303 dengan Standard Error = 0.005
>5 Nilai Akurasi Mean = 0.94135 dengan Standard Error = 0.005
>6 Nilai Akurasi Mean = 0.93963 dengan Standard Error = 0.004
>7 Nilai Akurasi Mean = 0.94170 dengan Standard Error = 0.003
>8 Nilai Akurasi Mean = 0.94168 dengan Standard Error = 0.003
>9 Nilai Akurasi Mean = 0.94267 dengan Standard Error = 0.003
>10 Nilai Akurasi Mean = 0.94292 dengan Standard Error = 0.003
>11 Nilai Akurasi Mean = 0.94311 dengan Standard Error = 0.003
>12 Nilai Akurasi Mean = 0.94297 dengan Standard Error = 0.003
>13 Nilai Akurasi Mean = 0.94382 dengan Standard Error = 0.003
>14 Nilai Akurasi Mean = 0.94416 dengan Standard Error = 0.003
>15 Nilai Akurasi Mean = 0.94411 dengan Standard Error = 0.003

## **PRESISI**

In [ ]:
def evaluate_model(X, y, repeats):
	# prepare the cross-validation procedure
	cv = RepeatedKFold(n_splits=15, n_repeats=repeats, random_state=1)
	# create model
	model = GradientBoostingClassifier()
	# evaluate model
	scores = cross_val_score(model, datasetGB3, labelGB3, scoring='precision_weighted', cv=cv, n_jobs=-1)
	return scores

In [ ]:
# configurations to test
repeats = range(1,16)
results = list()
for r in repeats:
	# evaluate using a given number of repeats
	scores = evaluate_model(datasetGB3, labelGB3, r)
	# summarize
	print('>%d Nilai Akurasi Mean = %.5f dengan Standard Error = %.3f' % (r, mean(scores), sem(scores)))
	# store
	results.append(scores)

>1 Nilai Akurasi Mean = 0.94380 dengan Standard Error = 0.011
>2 Nilai Akurasi Mean = 0.94566 dengan Standard Error = 0.008
>3 Nilai Akurasi Mean = 0.94777 dengan Standard Error = 0.006
>4 Nilai Akurasi Mean = 0.94683 dengan Standard Error = 0.005
>5 Nilai Akurasi Mean = 0.94624 dengan Standard Error = 0.004
>6 Nilai Akurasi Mean = 0.94656 dengan Standard Error = 0.004
>7 Nilai Akurasi Mean = 0.94705 dengan Standard Error = 0.003
>8 Nilai Akurasi Mean = 0.94662 dengan Standard Error = 0.003
>9 Nilai Akurasi Mean = 0.94745 dengan Standard Error = 0.003
>10 Nilai Akurasi Mean = 0.94856 dengan Standard Error = 0.003
>11 Nilai Akurasi Mean = 0.94827 dengan Standard Error = 0.003
>12 Nilai Akurasi Mean = 0.94829 dengan Standard Error = 0.003
>13 Nilai Akurasi Mean = 0.94849 dengan Standard Error = 0.002
>14 Nilai Akurasi Mean = 0.94901 dengan Standard Error = 0.002
>15 Nilai Akurasi Mean = 0.94820 dengan Standard Error = 0.002

# **XTREME GRADIENT BOOSTING**

In [ ]:
labelXGB = datasetXGB['nat'].tolist()
labelXGB1 = datasetXGB1['nat'].tolist()
labelXGB2 = datasetXGB2['nat'].tolist()
labelXGB3 = datasetXGB3['nat'].tolist()
datasetXGB = datasetXGB.drop(columns=['nat'])
datasetXGB1 = datasetXGB1.drop(columns=['nat'])
datasetXGB2 = datasetXGB2.drop(columns=['nat'])
datasetXGB3 = datasetXGB3.drop(columns=['nat'])

## **F1**

In [ ]:
def evaluate_model(X, y, repeats):
	# prepare the cross-validation procedure
	cv = RepeatedKFold(n_splits=15, n_repeats=repeats, random_state=1)
	# create model
	model = XGBClassifier()
	# evaluate model
	scores = cross_val_score(model, datasetXGB, labelXGB, scoring='f1_weighted', cv=cv, n_jobs=-1)
	return scores

In [ ]:
# configurations to test
repeats = range(1,16)
results = list()
for r in repeats:
	# evaluate using a given number of repeats
	scores = evaluate_model(datasetXGB, labelXGB, r)
	# summarize
	print('>%d Nilai Akurasi Mean = %.5f dengan Standard Error = %.3f' % (r, mean(scores), sem(scores)))
	# store
	results.append(scores)

>1 Nilai Akurasi Mean = 0.93816 dengan Standard Error = 0.010
>2 Nilai Akurasi Mean = 0.94070 dengan Standard Error = 0.008
>3 Nilai Akurasi Mean = 0.94218 dengan Standard Error = 0.006
>4 Nilai Akurasi Mean = 0.94168 dengan Standard Error = 0.005
>5 Nilai Akurasi Mean = 0.93957 dengan Standard Error = 0.005
>6 Nilai Akurasi Mean = 0.94025 dengan Standard Error = 0.004
>7 Nilai Akurasi Mean = 0.94046 dengan Standard Error = 0.004
>8 Nilai Akurasi Mean = 0.94061 dengan Standard Error = 0.003
>9 Nilai Akurasi Mean = 0.94094 dengan Standard Error = 0.003
>10 Nilai Akurasi Mean = 0.94120 dengan Standard Error = 0.003
>11 Nilai Akurasi Mean = 0.94160 dengan Standard Error = 0.003
>12 Nilai Akurasi Mean = 0.94121 dengan Standard Error = 0.003
>13 Nilai Akurasi Mean = 0.94153 dengan Standard Error = 0.003
>14 Nilai Akurasi Mean = 0.94154 dengan Standard Error = 0.003
>15 Nilai Akurasi Mean = 0.94131 dengan Standard Error = 0.003

## **AKURASI**

In [ ]:
def evaluate_model(X, y, repeats):
	# prepare the cross-validation procedure
	cv = RepeatedKFold(n_splits=15, n_repeats=repeats, random_state=1)
	# create model
	model = XGBClassifier()
	# evaluate model
	scores = cross_val_score(model, datasetXGB1, labelXGB1, scoring='accuracy', cv=cv, n_jobs=-1)
	return scores

In [ ]:
# configurations to test
repeats = range(1,16)
results = list()
for r in repeats:
	# evaluate using a given number of repeats
	scores = evaluate_model(datasetXGB1, labelXGB1, r)
	# summarize
	print('>%d Nilai Akurasi Mean = %.5f dengan Standard Error = %.3f' % (r, mean(scores), sem(scores)))
	# store
	results.append(scores)

>1 Nilai Akurasi Mean = 0.93822 dengan Standard Error = 0.010
>2 Nilai Akurasi Mean = 0.94090 dengan Standard Error = 0.008
>3 Nilai Akurasi Mean = 0.94228 dengan Standard Error = 0.006
>4 Nilai Akurasi Mean = 0.94173 dengan Standard Error = 0.005
>5 Nilai Akurasi Mean = 0.93959 dengan Standard Error = 0.005
>6 Nilai Akurasi Mean = 0.94025 dengan Standard Error = 0.004
>7 Nilai Akurasi Mean = 0.94046 dengan Standard Error = 0.004
>8 Nilai Akurasi Mean = 0.94059 dengan Standard Error = 0.003
>9 Nilai Akurasi Mean = 0.94093 dengan Standard Error = 0.003
>10 Nilai Akurasi Mean = 0.94117 dengan Standard Error = 0.003
>11 Nilai Akurasi Mean = 0.94152 dengan Standard Error = 0.003
>12 Nilai Akurasi Mean = 0.94107 dengan Standard Error = 0.003
>13 Nilai Akurasi Mean = 0.94139 dengan Standard Error = 0.003
>14 Nilai Akurasi Mean = 0.94140 dengan Standard Error = 0.003
>15 Nilai Akurasi Mean = 0.94117 dengan Standard Error = 0.003

## **RECALL**

In [ ]:
def evaluate_model(X, y, repeats):
	# prepare the cross-validation procedure
	cv = RepeatedKFold(n_splits=15, n_repeats=repeats, random_state=1)
	# create model
	model = XGBClassifier()
	# evaluate model
	scores = cross_val_score(model, datasetXGB2, labelXGB2, scoring='recall_weighted', cv=cv, n_jobs=-1)
	return scores

In [ ]:
# configurations to test
repeats = range(1,16)
results = list()
for r in repeats:
	# evaluate using a given number of repeats
	scores = evaluate_model(datasetXGB2, labelXGB2, r)
	# summarize
	print('>%d Nilai Akurasi Mean = %.5f dengan Standard Error = %.3f' % (r, mean(scores), sem(scores)))
	# store
	results.append(scores)

>1 Nilai Akurasi Mean = 0.93822 dengan Standard Error = 0.010
>2 Nilai Akurasi Mean = 0.94090 dengan Standard Error = 0.008
>3 Nilai Akurasi Mean = 0.94228 dengan Standard Error = 0.006
>4 Nilai Akurasi Mean = 0.94173 dengan Standard Error = 0.005
>5 Nilai Akurasi Mean = 0.93959 dengan Standard Error = 0.005
>6 Nilai Akurasi Mean = 0.94025 dengan Standard Error = 0.004
>7 Nilai Akurasi Mean = 0.94046 dengan Standard Error = 0.004
>8 Nilai Akurasi Mean = 0.94059 dengan Standard Error = 0.003
>9 Nilai Akurasi Mean = 0.94093 dengan Standard Error = 0.003
>10 Nilai Akurasi Mean = 0.94117 dengan Standard Error = 0.003
>11 Nilai Akurasi Mean = 0.94152 dengan Standard Error = 0.003
>12 Nilai Akurasi Mean = 0.94107 dengan Standard Error = 0.003
>13 Nilai Akurasi Mean = 0.94139 dengan Standard Error = 0.003
>14 Nilai Akurasi Mean = 0.94140 dengan Standard Error = 0.003
>15 Nilai Akurasi Mean = 0.94117 dengan Standard Error = 0.003

## **PRESISI**

In [ ]:
def evaluate_model(X, y, repeats):
	# prepare the cross-validation procedure
	cv = RepeatedKFold(n_splits=15, n_repeats=repeats, random_state=1)
	# create model
	model = XGBClassifier()
	# evaluate model
	scores = cross_val_score(model, datasetXGB3, labelXGB3, scoring='precision_weighted', cv=cv, n_jobs=-1)
	return scores

In [ ]:
# configurations to test
repeats = range(1,16)
results = list()
for r in repeats:
	# evaluate using a given number of repeats
	scores = evaluate_model(datasetXGB3, labelXGB3, r)
	# summarize
	print('>%d Nilai Akurasi Mean = %.5f dengan Standard Error = %.3f' % (r, mean(scores), sem(scores)))
	# store
	results.append(scores)

>1 Nilai Akurasi Mean = 0.94265 dengan Standard Error = 0.009
>2 Nilai Akurasi Mean = 0.94517 dengan Standard Error = 0.007
>3 Nilai Akurasi Mean = 0.94658 dengan Standard Error = 0.005
>4 Nilai Akurasi Mean = 0.94579 dengan Standard Error = 0.005
>5 Nilai Akurasi Mean = 0.94391 dengan Standard Error = 0.004
>6 Nilai Akurasi Mean = 0.94444 dengan Standard Error = 0.004
>7 Nilai Akurasi Mean = 0.94470 dengan Standard Error = 0.003
>8 Nilai Akurasi Mean = 0.94505 dengan Standard Error = 0.003
>9 Nilai Akurasi Mean = 0.94530 dengan Standard Error = 0.003
>10 Nilai Akurasi Mean = 0.94569 dengan Standard Error = 0.003
>11 Nilai Akurasi Mean = 0.94621 dengan Standard Error = 0.003
>12 Nilai Akurasi Mean = 0.94599 dengan Standard Error = 0.003
>13 Nilai Akurasi Mean = 0.94624 dengan Standard Error = 0.002
>14 Nilai Akurasi Mean = 0.94613 dengan Standard Error = 0.002
>15 Nilai Akurasi Mean = 0.94597 dengan Standard Error = 0.002

# **CATEGORICAL GRADIENT BOOSTING**

In [ ]:
labelCGB = datasetCGB['nat'].tolist()
labelCGB1 = datasetCGB1['nat'].tolist()
labelCGB2 = datasetCGB2['nat'].tolist()
labelCGB3 = datasetCGB3['nat'].tolist()
datasetCGB = datasetCGB.drop(columns=['nat'])
datasetCGB1 = datasetCGB1.drop(columns=['nat'])
datasetCGB2 = datasetCGB2.drop(columns=['nat'])
datasetCGB3 = datasetCGB3.drop(columns=['nat'])

## **F1**

In [ ]:
def evaluate_model(X, y, repeats):
	# prepare the cross-validation procedure
	cv = RepeatedKFold(n_splits=15, n_repeats=repeats, random_state=1)
	# create model
	model = CatBoostClassifier()
	# evaluate model
	scores = cross_val_score(model, datasetCGB, labelCGB, scoring='f1_weighted', cv=cv, n_jobs=-1)
	return scores

In [ ]:
# configurations to test
repeats = range(1,16)
results = list()
for r in repeats:
	# evaluate using a given number of repeats
	scores = evaluate_model(datasetCGB, labelCGB, r)
	# summarize
	print('>%d Nilai Akurasi Mean = %.5f dengan Standard Error = %.3f' % (r, mean(scores), sem(scores)))
	# store
	results.append(scores)

>1 Nilai Akurasi Mean = 0.94709 dengan Standard Error = 0.012
>2 Nilai Akurasi Mean = 0.94876 dengan Standard Error = 0.008
>3 Nilai Akurasi Mean = 0.94930 dengan Standard Error = 0.006
>4 Nilai Akurasi Mean = 0.94876 dengan Standard Error = 0.005
>5 Nilai Akurasi Mean = 0.94843 dengan Standard Error = 0.004
>6 Nilai Akurasi Mean = 0.94882 dengan Standard Error = 0.004
>7 Nilai Akurasi Mean = 0.94856 dengan Standard Error = 0.003
>8 Nilai Akurasi Mean = 0.94860 dengan Standard Error = 0.003
>9 Nilai Akurasi Mean = 0.94881 dengan Standard Error = 0.003
>10 Nilai Akurasi Mean = 0.94898 dengan Standard Error = 0.003
>11 Nilai Akurasi Mean = 0.94885 dengan Standard Error = 0.003
>12 Nilai Akurasi Mean = 0.94841 dengan Standard Error = 0.003
>13 Nilai Akurasi Mean = 0.94858 dengan Standard Error = 0.003
>14 Nilai Akurasi Mean = 0.94859 dengan Standard Error = 0.003
>15 Nilai Akurasi Mean = 0.94848 dengan Standard Error = 0.002

## **AKURASI**

In [ ]:
def evaluate_model(X, y, repeats):
	# prepare the cross-validation procedure
	cv = RepeatedKFold(n_splits=15, n_repeats=repeats, random_state=1)
	# create model
	model = CatBoostClassifier()
	# evaluate model
	scores = cross_val_score(model, datasetCGB1, labelCGB1, scoring='accuracy', cv=cv, n_jobs=-1)
	return scores

In [ ]:
# configurations to test
repeats = range(1,16)
results = list()
for r in repeats:
	# evaluate using a given number of repeats
	scores = evaluate_model(datasetCGB1, labelCGB1, r)
	# summarize
	print('>%d Nilai Akurasi Mean = %.5f dengan Standard Error = %.3f' % (r, mean(scores), sem(scores)))
	# store
	results.append(scores)

>1 Nilai Akurasi Mean = 0.94713 dengan Standard Error = 0.011
>2 Nilai Akurasi Mean = 0.94891 dengan Standard Error = 0.008
>3 Nilai Akurasi Mean = 0.94939 dengan Standard Error = 0.006
>4 Nilai Akurasi Mean = 0.94880 dengan Standard Error = 0.005
>5 Nilai Akurasi Mean = 0.94845 dengan Standard Error = 0.004
>6 Nilai Akurasi Mean = 0.94881 dengan Standard Error = 0.004
>7 Nilai Akurasi Mean = 0.94856 dengan Standard Error = 0.003
>8 Nilai Akurasi Mean = 0.94857 dengan Standard Error = 0.003
>9 Nilai Akurasi Mean = 0.94879 dengan Standard Error = 0.003
>10 Nilai Akurasi Mean = 0.94895 dengan Standard Error = 0.003
>11 Nilai Akurasi Mean = 0.94876 dengan Standard Error = 0.003
>12 Nilai Akurasi Mean = 0.94829 dengan Standard Error = 0.003
>13 Nilai Akurasi Mean = 0.94847 dengan Standard Error = 0.003
>14 Nilai Akurasi Mean = 0.94847 dengan Standard Error = 0.003
>15 Nilai Akurasi Mean = 0.94836 dengan Standard Error = 0.002

## **RECALL**

In [ ]:
def evaluate_model(X, y, repeats):
	# prepare the cross-validation procedure
	cv = RepeatedKFold(n_splits=15, n_repeats=repeats, random_state=1)
	# create model
	model = CatBoostClassifier()
	# evaluate model
	scores = cross_val_score(model, datasetCGB2, labelCGB2, scoring='recall_weighted', cv=cv, n_jobs=-1)
	return scores

In [ ]:
# configurations to test
repeats = range(1,16)
results = list()
for r in repeats:
	# evaluate using a given number of repeats
	scores = evaluate_model(datasetCGB2, labelCGB2, r)
	# summarize
	print('>%d Nilai Akurasi Mean = %.5f dengan Standard Error = %.3f' % (r, mean(scores), sem(scores)))
	# store
	results.append(scores)

>1 Nilai Akurasi Mean = 0.94713 dengan Standard Error = 0.011
>2 Nilai Akurasi Mean = 0.94891 dengan Standard Error = 0.008
>3 Nilai Akurasi Mean = 0.94939 dengan Standard Error = 0.006
>4 Nilai Akurasi Mean = 0.94880 dengan Standard Error = 0.005
>5 Nilai Akurasi Mean = 0.94845 dengan Standard Error = 0.004
>6 Nilai Akurasi Mean = 0.94881 dengan Standard Error = 0.004
>7 Nilai Akurasi Mean = 0.94856 dengan Standard Error = 0.003
>8 Nilai Akurasi Mean = 0.94857 dengan Standard Error = 0.003
>9 Nilai Akurasi Mean = 0.94879 dengan Standard Error = 0.003
>10 Nilai Akurasi Mean = 0.94895 dengan Standard Error = 0.003
>11 Nilai Akurasi Mean = 0.94876 dengan Standard Error = 0.003
>12 Nilai Akurasi Mean = 0.94829 dengan Standard Error = 0.003
>13 Nilai Akurasi Mean = 0.94847 dengan Standard Error = 0.003
>14 Nilai Akurasi Mean = 0.94847 dengan Standard Error = 0.003
>15 Nilai Akurasi Mean = 0.94836 dengan Standard Error = 0.002

## **PRESISI**

In [ ]:
def evaluate_model(X, y, repeats):
	# prepare the cross-validation procedure
	cv = RepeatedKFold(n_splits=15, n_repeats=repeats, random_state=1)
	# create model
	model = CatBoostClassifier()
	# evaluate model
	scores = cross_val_score(model, datasetCGB3, labelCGB3, scoring='precision_weighted', cv=cv, n_jobs=-1)
	return scores

In [ ]:
# configurations to test
repeats = range(1,16)
results = list()
for r in repeats:
	# evaluate using a given number of repeats
	scores = evaluate_model(datasetCGB3, labelCGB3, r)
	# summarize
	print('>%d Nilai Akurasi Mean = %.5f dengan Standard Error = %.3f' % (r, mean(scores), sem(scores)))
	# store
	results.append(scores)

>1 Nilai Akurasi Mean = 0.95148 dengan Standard Error = 0.010
>2 Nilai Akurasi Mean = 0.95320 dengan Standard Error = 0.007
>3 Nilai Akurasi Mean = 0.95358 dengan Standard Error = 0.005
>4 Nilai Akurasi Mean = 0.95288 dengan Standard Error = 0.004
>5 Nilai Akurasi Mean = 0.95252 dengan Standard Error = 0.004
>6 Nilai Akurasi Mean = 0.95289 dengan Standard Error = 0.003
>7 Nilai Akurasi Mean = 0.95262 dengan Standard Error = 0.003
>8 Nilai Akurasi Mean = 0.95293 dengan Standard Error = 0.003
>9 Nilai Akurasi Mean = 0.95305 dengan Standard Error = 0.003
>10 Nilai Akurasi Mean = 0.95330 dengan Standard Error = 0.003
>11 Nilai Akurasi Mean = 0.95333 dengan Standard Error = 0.003
>12 Nilai Akurasi Mean = 0.95304 dengan Standard Error = 0.002
>13 Nilai Akurasi Mean = 0.95317 dengan Standard Error = 0.002
>14 Nilai Akurasi Mean = 0.95308 dengan Standard Error = 0.002
>15 Nilai Akurasi Mean = 0.95300 dengan Standard Error = 0.002